
#app {
    height: 100vh;
}

.bg-info {
    background-color: transparent !important;
}
.navbar-brand {
    color: black !important;
    font-weight: bold;
}

.nav-link {
    color: silver !important;
}

.twitter-wall {
    font-size: 8pt;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.twitter-wall:after {
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  background-image: url("/images/bienenwabe.webp");
    background-size: cover;
}

.tweet {
    background-color: whitesmoke;
    width: 300px;
    margin: .5em;
    padding: .3em;
    border: 1px solid darkslategrey;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.8);
}

.tweet-user {
    font-weight: bold;
}
.tweet-handle {
    font-size: 80%;
}

.tweet-time {
    float: right;
    color: darkslategrey;
}

.tweet img {
    max-height: 200px; 
    max-width: 300px;
}